In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
# from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
plt.style.use('ggplot')

In [2]:
data_nig = pd.read_csv('nigeria1.csv')
data_nig

    year  population_m  budget_b  forex  unemployment%
0   2000        122.28      8.20    NaN           3.95
1   2001        125.39      8.72    NaN           4.03
2   2002        128.60      9.55    NaN           4.11
3   2003        131.90     12.03    NaN           4.06
4   2004        135.32      9.26    NaN           3.98
5   2005        138.87     11.94    NaN           3.87
6   2006        142.54     14.44    NaN           3.67
7   2007        146.34     19.51    NaN           3.44
8   2008        150.27     23.27    NaN           3.42
9   2009        154.32     19.30    NaN           3.76
10  2010        158.50     29.04    NaN           3.77
11  2011        162.81     29.73    NaN           3.70
12  2012        167.23     30.95    NaN           3.69
13  2013        171.77     31.57    NaN           3.70
14  2014        176.40     26.88    NaN           4.44
15  2015        181.14     17.64    NaN           5.31
16  2016        185.96     19.55    NaN           6.24
17  2017        190.87     20.55    NaN           6.01
18  2018        195.87     23.59    NaN           6.03
19  2019        200.00     24.72    NaN           6.11